<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Search</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <div class="jumbotron">
         <h1 class="display-4 text-capitalize bg-success text-white text-center">London-based Hotel Finder</h1>
         <p class="lead text-center">Find the best hotels around London using this web application developed using dataminig concept</p>
         <hr class="my-4">
         <div class="row">
            <div class= "col-lg-6 col-md-6 col-12">
               <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Text Search</a>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Classifier</button>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">Image Caption Search</button>
               </p>
               <div id="accordion">
                  <div class="collapse show multi-collapse" id="multiCollapseExample1" data-parent="#accordion">
                     <div class="mb-3">
                        <form action = "/result" method = "POST">
                           <div class="input-group input-group-lg container form-control">
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="inputGroup-sizing-lg">Text Search</span>
                              </div>
                              <input type="text" class="form-control" name="nm" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                              <button type="submit" class="ml-4 btn btn-primary btn-lg">Submit</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="collapse multi-collapse" id="multiCollapseExample2" data-parent="#accordion">
                     <div class="mb-3">
                        <form action = "/resultclassifier" method = "POST">
                           <div class="input-group input-group-lg container form-control">
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="inputGroup-sizing-lg">Classifier</span>
                              </div>
                              <input type="text" class="form-control" name="classifiername" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                              <button type="submit" class="ml-4 btn btn-primary btn-lg">Submit</button>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="collapse multi-collapse" id="multiCollapseExample3" data-parent="#accordion">
                     <div class="mb-3">
                        <form action = "/resultimage" method = "POST">
                           <div class="input-group input-group-lg container form-control">
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="inputGroup-sizing-lg">Image Caption Search</span>
                              </div>
                              <input type="text" class="form-control" name="nm" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                              <button type="submit" class="ml-4 btn btn-primary btn-lg">Submit</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <div class= "col-lg-6 col-md-6 col-12">
               <lottie-player
                  src="https://assets5.lottiefiles.com/packages/lf20_IwfCpp.json"  background="transparent"  speed="1"  style="width: 400px; height: 300px;"  loop autoplay >
               </lottie-player>
            </div>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
   </body>
</html>